.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.perspectiveBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-color: hsl(195deg, 20%, 86%);
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  width: 65%;
}

.description {
  font-size: 1.25rem;
  margin: 0;
  width: 65%;
}

.characterWrapper {
  height: 770px;
  position: fixed;
  top: 25px;
  right: 0;
}

.controlColumn {
  width: 50%;
}
